.App {
  text-align: center;
  color: white;
  overflow-x: hidden;
  overflow-y: clip;
}
.bounce-in-top{
  position: absolute;
  top: -1rem;
  right: -1rem;
  background: #FF4754;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #121212;
  border-radius: 50%;
  -webkit-animation: bounce-in-top 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) ;
  animation: bounce-in-top 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) ;
  }
  @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
.flex-container-product {
  justify-content: center;
  height: 100%;
  padding: 15px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  border-radius: 20px;
  margin-left: 5%;
}

.flex-container-product > div {
  height: 250px;
  width: 250px;
  box-shadow: -1px 0px 10px 2px rgba(0, 0, 0, 0.59);
}
.img-product {
  object-fit: contain;
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 100%;
}
.map-product {
  border-radius: 5px;
  position: absolute;
  height: 180px;
  width: 340px;
  margin: 5px;
}
.item-map {
  display: flex;
  margin: 1%;
  justify-content: center;
}

.button-add {
  background-color: rgb(16, 135, 16);
  height: 50px;
  margin-top: 75%;
}

.rm-product-btn{
  position: absolute;
  right: 10%;
}

.hr-basket{
  padding: 5%
}
.img-product:hover{
  opacity: 0.7;

}

@media (max-width: 765px) {
  .flex-container-product {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
  }
}

@media (max-width: 545px) {
  .flex-container-product {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    margin-left: 12%;
  }
}
