h1 {
  text-align: center;
  color: white;
}

.home-delivery{
  display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
}
.pos-button {
  display: flex;
	align-items: center;
	justify-content: center;
  margin-top:10px;
}

.btn {
  margin-left: 15%;
  padding: 5px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgb(165, 143, 113);
  background: white;
  border: 1px solid rgb(165, 143, 113);
  box-shadow: 1px 1px 0 rgb(165, 143, 113), -1px -1px 0 rgb(165, 143, 113),
    -1px 1px 0 rgb(165, 143, 113), 1px -1px 0 rgb(165, 143, 113);
  transition: 500ms ease-in-out;
}

.btn:hover {
  box-shadow: 20px 5px 0 rgb(165, 143, 113), -20px -5px 0 rgb(165, 143, 113);
}

.btn:focus {
  outline: none;
}

.img-home {
  width: 500px;
  height: 500px;
}

@media (max-width: 800px) {
  .img-home {
    width: 100%;
  }
  

}

